<div class="container">
  <div class="row">
    <div class="span12" id="copyright">
      <strong>Sample</strong> &copy; Copyright <%= Time.now.year %>. All rights reserved.
    </div>
  </div>
</div>
